RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
#RewriteCond %{HTTPS} !=on
#RewriteCond %{REQUEST_URI} ci_react
#RewriteRule ^(.*) https://%{SERVER_NAME}$1 [R,L]